/*@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

@font-face {
  font-family: lasenter;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}*/
html,
  body {
    background-color: lightgray;
    box-sizing: border-box;
  }

.test {
  border: 1px solid red;
}



.container {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;

  width: 500px;
  height: 150px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -95px 0 0 -270px;
}

.input {

  flex-basis: 200px;
}

.output {
 flex-basis: 200px;
}

#userInputNumber {
  width: 100%;
}

#result {
  width: 100%;
}


#mySelect1 {
  width: 100%;
}

#mySelect2 {
  width: 100%;
}


.convertButton {
  margin: 10px;
}
