/*@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

@font-face {
  font-family: lasenter;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}*/
html,
  body {
    background-color: white;
  }

.container {
  width: 500px;
  height: 150px;
  background-color: lightgray;

  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -95px 0 0 -270px;
}

.convertButton {
  margin: 10px;
}
